# Carga de datos a través de la función read_csv

In [10]:
import pandas as pd
import os

In [14]:
main_path = "../datasets"
file_name = "titanic/titanic3.csv"
# full_path = main_path + "/" + file_name
full_path = os.path.join(main_path, full_path)

'../datasets\\../datasets\\../datasets/titanic/titanic3.csv'

In [11]:
# data = pd.read_csv("../datasets/titanic/titanic3.csv")
data = pd.read_csv(full_path)

In [12]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Argumentos de read_csv
- sep: indica el separador, por defecto es la coma.
- Dtype: indica el tipo de la columna, None es el valor por defecto e indica que es pyhton quien debe de averiguar el tipo. Si queremos cargar columnas es dtype=["a"=np.float64, "b"=np.int32], donde np es NumPy
- header=none
- names: [] indicar el nombre de las columnas
- skiprows: Se salta las lineas
- skip_blank_lines(True)

data = pd.read_csv("../datasets/titanic/titanic3.csv", sep=",", dtype=None, header=None)

In [18]:
data2 = pd.read_csv(os.path.join(main_path, "customer-churn-model/Customer Churn Model.txt"))

In [19]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [20]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [34]:
data_cols = pd.read_csv(main_path + "/customer-churn-model/Customer Churn Columns.csv" )
data_cols_list = data_cols["Column_Names"].tolist()
data_cols_list
data2 = pd.read_csv(main_path + "/customer-churn-model/Customer Churn Model.txt", header=None, names=data_cols_list)
data2.head()

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
2,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
3,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
4,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.

### Carga de datos a través de la función open
open -> "r" sólo lectura, "rw" - lectura y escritura

In [47]:
data3 = open(main_path + "/customer-churn-model/Customer Churn Model.txt", "r")

In [41]:
data3 = open(main_path + "/customer-churn-model/Customer Churn Model.txt", "r")
cols = data3.readline().strip().split(",")
n_cols = len(cols)

In [48]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [49]:
for line in data3:
    values = line.strip().split(',')
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print ("El dataset tiene %d filas y %d columnas" % (counter, n_cols))

El dataset tiene 3334 filas y 21 columnas

In [50]:
df3 = pd.DataFrame(main_dict)
df3.head

<bound method NDFrame.head of       Account Length  Area Code  Churn?  CustServ Calls  Day Calls  \
0     Account Length  Area Code  Churn?  CustServ Calls  Day Calls
1                128        415  False.               1        110
2                107        415  False.               1        123
3                137        415  False.               0        114
4                 84        408  False.               2         71
5                 75        415  False.               3        113
6                118        510  False.               0         98
7                121        510  False.               3         88
8                147        415  False.               0         79
9                117        408  False.               1         97
10               141        415  False.               0         84
11                65        415   True.               4        137
12                74        415  False.               0        127
13               168        408  False.               1         96
14                95        510  False.               3         88
15                62        415  False.               4         70
16               161        415   True.               4         67
17                85        408  False.               1        139
18                93        510  False.               3        114
19                76        510  False.               1         66
20                73        415  False.               1         90
21               147        415  False.               0        117
22                77        408   True.               5         89
23               130        415  False.               0        112
24               111        415  False.               2        103
25               132        510  False.               0         86
26               174        415  False.               3         76
27                57        408  False.               0        115
28                54        408  False.               3         73
29                20        415  False.               0        109
...              ...        ...     ...             ...        ...
3304             114        415  False.               2         88
3305              71        510   True.               4        114
3306              58        415  False.               2        127
3307             106        408  False.               1        131
3308             172        408  False.               4        109
3309              45        415  False.               1         87
3310             100        408  False.               4        112
3311              94        415  False.               2         91
3312             128        415  False.               2         94
3313             181        408  False.               2        130
3314             127        408  False.               1        128
3315              89        415  False.               1         81
3316             149        415  False.               0        106
3317             103        510  False.               0        111
3318             163        415  False.               1         90
3319              52        415  False.               2        131
3320              89        415  False.               3         99
3321             122        510   True.               4        101
3322              60        415  False.               3        118
3323              62        408   True.               4        105
3324             117        415   True.               5        126
3325             159        415  False.               1        114
3326              78        408  False.               2         99
3327              96        415  False.               1        128
3328              79        415  False.               2         98
3329             192        415  False.               2         77
3330              68        415  False.               3         57
3331              28        510  False.               2        109
3332             184        510  False.               2        105
3333              74        415  False.               0        113

      Day Charge    Day Mins  Eve Calls  Eve Charge    Eve Mins     ...      \
0     Day Charge    Day Mins  Eve Calls  Eve Charge    Eve Mins     ...
1      45.070000  265.100000         99   16.780000  197.400000     ...
2      27.470000  161.600000        103   16.620000  195.500000     ...
3      41.380000  243.400000        110   10.300000  121.200000     ...
4      50.900000  299.400000         88    5.260000   61.900000     ...
5      28.340000  166.700000        122   12.610000  148.300000     ...
6      37.980000  223.400000        101   18.750000  220.600000     ...
7      37.090000  218.200000        108   29.620000  348.500000     ...
8      26.690000  157.000000         94    8.760000  103.100000     ...
9      31.370000  184.500000         80   29.890000  351.600000     ...
10     43.960000  258.600000        111   18.870000  222.000000     ...
11     21.950000  129.100000         83   19.420000  228.500000     ...
12     31.910000  187.700000        148   13.890000  163.400000     ...
13     21.900000  128.800000         71    8.920000  104.900000     ...
14     26.620000  156.600000         75   21.050000  247.600000     ...
15     20.520000  120.700000         76   26.110000  307.200000     ...
16     56.590000  332.900000         97   27.010000  317.800000     ...
17     33.390000  196.400000         90   23.880000  280.900000     ...
18     32.420000  190.700000        111   18.550000  218.200000     ...
19     32.250000  189.700000         65   18.090000  212.800000     ...
20     38.150000  224.400000         88   13.560000  159.500000     ...
21     26.370000  155.100000         93   20.370000  239.700000     ...
22     10.610000   62.400000        121   14.440000  169.900000     ...
23     31.110000  183.000000         99    6.200000   72.900000     ...
24     18.770000  110.400000        102   11.670000  137.300000     ...
25     13.790000   81.100000         72   20.840000  245.200000     ...
26     21.130000  124.300000        112   23.550000  277.100000     ...
27     36.210000  213.000000        112   16.240000  191.100000     ...
28     22.830000  134.300000        100   13.220000  155.500000     ...
29     32.300000  190.000000         84   21.950000  258.200000     ...
...          ...         ...        ...         ...         ...     ...
3304   23.310000  137.100000        125   13.230000  155.700000     ...
3305   31.640000  186.100000        140   16.880000  198.600000     ...
3306   38.100000  224.100000         85   20.300000  238.800000     ...
3307   14.210000   83.600000        131   17.330000  203.900000     ...
3308   34.660000  203.900000        123   19.890000  234.000000     ...
3309   35.920000  211.300000         97   14.080000  165.700000     ...
3310   37.300000  219.400000        102   19.180000  225.700000     ...
3311   32.370000  190.400000        107    7.820000   92.000000     ...
3312   25.110000  147.700000         83   24.080000  283.300000     ...
3313   39.080000  229.900000         93   12.270000  144.400000     ...
3314   17.480000  102.800000         95   12.210000  143.700000     ...
3315   30.380000  178.700000         74   19.860000  233.700000     ...
3316   25.250000  148.500000        106    9.730000  114.500000     ...
3317   27.900000  164.100000         96   18.620000  219.100000     ...
3318   33.520000  197.200000        113   16.020000  188.500000     ...
3319   21.230000  124.900000        118   25.540000  300.500000     ...
3320   19.620000  115.400000        115   17.840000  209.900000     ...
3321   23.800000  140.000000         77   16.690000  196.400000     ...
3322   32.960000  193.900000        110    7.230000   85.000000     ...
3323   54.590000  321.100000        122   22.570000  265.500000     ...
3324   20.130000  118.400000         97   21.190000  249.300000     ...
3325   28.870000  169.800000        105   16.800000  197.700000     ...
3326   32.880000  193.400000         88    9.940000  116.900000     ...
3327   18.120000  106.600000         87   24.210000  284.800000     ...
3328   22.900000  134.700000         68   16.120000  189.700000     ...
3329   26.550000  156.200000        126   18.320000  215.500000     ...
3330   39.290000  231.100000         55   13.040000  153.400000     ...
3331   30.740000  180.800000         58   24.550000  288.800000     ...
3332   36.350000  213.800000         84   13.570000  159.600000     ...
3333   39.850000  234.400000         82   22.600000  265.900000     ...

      Intl Calls  Intl Charge  Intl Mins  Night Calls  Night Charge  \
0     Intl Calls  Intl Charge  Intl Mins  Night Calls  Night Charge
1              3     2.700000  10.000000           91     11.010000
2              3     3.700000  13.700000          103     11.450000
3              5     3.290000  12.200000          104      7.320000
4              7     1.780000   6.600000           89      8.860000
5              3     2.730000  10.100000          121      8.410000
6              6     1.700000   6.300000          118      9.180000
7              7     2.030000   7.500000          118      9.570000
8              6     1.920000   7.100000           96      9.530000
9              4     2.350000   8.700000           90      9.710000
10             5     3.020000  11.200000           97     14.690000
11             6     3.430000  12.700000          111      9.400000
12             5     2.460000   9.100000           94      8.820000
13             2     3.020000  11.200000          128      6.350000
14             5     3.320000  12.300000          115      8.650000
15             6     3.540000  13.100000           99      9.140000
16             9     1.460000   5.400000          128      7.230000
17             4     3.730000  13.800000           75      4.020000
18             3     2.190000   8.100000          121      5.830000
19             5     2.700000  10.000000          108      7.460000
20             2     3.510000  13.000000           74      8.680000
21             4     2.860000  10.600000          133      9.400000
22             6     1.540000   5.700000           64      9.430000
23            19     2.570000   9.500000           78      8.180000
24             6     2.080000   7.700000          105      8.530000
25             2     2.780000  10.300000          115     10.670000
26             5     4.190000  15.500000          115     11.280000
27             3     2.570000   9.500000          115      8.220000
28             4     3.970000  14.700000           68      4.590000
29             6     1.700000   6.300000          102      8.170000
...          ...          ...        ...          ...           ...
3304           7     3.110000  11.500000           94     11.140000
3305           5     3.730000  13.800000           80      9.290000
3306           7     3.110000  11.500000           86      7.840000
3307           3     2.190000   8.100000           73     10.330000
3308           4     4.810000  17.800000           65      7.230000
3309           6     3.590000  13.300000           72     11.970000
3310           4     3.240000  12.000000           95     11.490000
3311          17     3.670000  13.600000          108     10.120000
3312           5     1.860000   6.900000          124      8.470000
3313           4     3.830000  14.200000          110     11.810000
3314           5     2.700000  10.000000           97      8.610000
3315           4     2.460000   9.100000          120      5.940000
3316           4     1.760000   6.500000           98      8.020000
3317           9     3.320000  12.300000          108      9.910000
3318           8     2.110000   7.800000           94      9.500000
3319           4     3.130000  11.600000          106      8.660000
3320           6     4.290000  15.900000          112     12.640000
3321           4     2.620000   9.700000          133      5.400000
3322           8     3.560000  13.200000          134      9.450000
3323           2     3.110000  11.500000           72      8.120000
3324           3     3.670000  13.600000           56     10.220000
3325           4     3.130000  11.600000           82      8.720000
3326           4     2.510000   9.300000          109     10.950000
3327           7     4.020000  14.900000           92      8.050000
3328           5     3.190000  11.800000          128      9.960000
3329           6     2.670000   9.900000           83     12.560000
3330           4     2.590000   9.600000          123      8.610000
3331           6     3.810000  14.100000           91      8.640000
3332          10     1.350000   5.000000          137      6.260000
3333           4     3.700000  13.700000           77     10.860000

      Night Mins     Phone  State  VMail Message  VMail Plan
0     Night Mins     Phone  State  VMail Message  VMail Plan
1     244.700000  382-4657     KS             25         yes
2     254.400000  371-7191     OH             26         yes
3     162.600000  358-1921     NJ              0          no
4     196.900000  375-9999     OH              0          no
5     186.900000  330-6626     OK              0          no
6     203.900000  391-8027     AL              0          no
7     212.600000  355-9993     MA             24         yes
8     211.800000  329-9001     MO              0          no
9     215.800000  335-4719     LA              0          no
10    326.400000  330-8173     WV             37         yes
11    208.800000  329-6603     IN              0          no
12    196.000000  344-9403     RI              0          no
13    141.100000  363-1107     IA              0          no
14    192.300000  394-8006     MT              0          no
15    203.000000  366-9238     IA              0          no
16    160.600000  351-7269     NY              0          no
17     89.300000  350-8884     ID             27         yes
18    129.600000  386-2923     VT              0          no
19    165.700000  356-2992     VA             33         yes
20    192.800000  373-2782     TX              0          no
21    208.800000  396-5800     FL              0          no
22    209.600000  393-7984     CO              0          no
23    181.800000  358-1958     AZ              0          no
24    189.600000  350-2565     SC              0          no
25    237.000000  343-4696     VA              0          no
26    250.700000  331-3698     NE              0          no
27    182.700000  357-3817     WY             39         yes
28    102.100000  418-6412     MT              0          no
29    181.500000  353-2630     MO              0          no
...          ...       ...    ...            ...         ...
3304  247.600000  373-7308     WI             26         yes
3305  206.500000  330-7137     IL              0          no
3306  174.200000  406-8445     IN             22         yes
3307  229.500000  404-5283     AL             29         yes
3308  160.700000  398-3632     OK              0          no
3309  265.900000  399-5763     IA              0          no
3310  255.300000  340-9449     VT              0          no
3311  224.800000  363-1123     NY              0          no
3312  188.300000  361-2170     LA              0          no
3313  262.400000  406-6304     SC              0          no
3314  191.400000  392-5090     ID              0          no
3315  131.900000  373-7713     MO              0          no
3316  178.300000  392-1376     ME             18         yes
3317  220.300000  390-6388     MS             29         yes
3318  211.100000  379-7290     SD              0          no
3319  192.500000  397-9928     OK              0          no
3320  280.900000  378-6924     WY              0          no
3321  120.100000  411-5677     GA              0          no
3322  210.100000  400-2738     VT              0          no
3323  180.500000  409-1856     MD              0          no
3324  227.000000  362-5899     IN              0          no
3325  193.700000  377-1164     WV              0          no
3326  243.300000  368-8555     OH              0          no
3327  178.900000  347-6812     OH              0          no
3328  221.400000  348-3830     SC              0          no
3329  279.100000  414-4276     AZ             36         yes
3330  191.300000  370-3271     WV              0          no
3331  191.900000  328-8230     RI              0          no
3332  139.200000  364-6381     CT              0          no
3333  241.400000  400-4344     TN             25         yes

[3334 rows x 21 columns]>

In [ ]:
## Lectura y escritura de ficheros

In [51]:
infile = main_path + "/customer-churn-model/Customer Churn Model.txt"
outfile = main_path + "/customer-churn-model/Tab Customer Churn Model1.txt"

In [55]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:            
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields) + "\n")

In [57]:
df4 = pd.read_csv(outfile, sep="\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.